* {
  margin: 0;
  padding: 0;
}
header {
  height: 15vh;
}

/* Custom flex class */
.flex-row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Header.jsx */
.img-holder {
  height: 100%;
  width: 50%;
}
.header{
  background-color: #fbeabe8e;
}
.header-img img {
  height: 10vh;
  margin: 2rem;
}
/* .alert-message{font-size: 1rem;} */

/* Login */
.login-main {
  min-height: 50vh;
}
.login-main h1 {
  margin-bottom: 2.5rem;
}
.login-main input,
select {
  margin-top: 1.5rem;
  border-color: rgba(202, 132, 13, 0.59);
}
.select-css{
  border-color: rgba(202, 132, 13, 0.59);
}
.login-main button {
  margin-top: 1.5rem;
  background-color: rgba(27, 25, 76, 0.9);
  width: 100px;
}
.login-main a{
  text-decoration: none;
  color: rgb(184, 123, 17);
  font-weight: 600;
}
.login-main a:hover{
  color: rgba(27, 25, 76, 0.9);
}
.login-inner-content {
  margin: 3rem 0;
  padding: 3rem;
  border-radius: 10px;
  border: 2px solid black;
  text-align: center;
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.25);
}

/* Officer details */

/* Personal.jsx */
.personal-details {
  padding: 2rem;
  margin: 0;
  background-color: #8b5f0093;
}
.personal-details .col {
  max-width: 200px;
}
.personal-details h4 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}
.user-img {
  padding: 1.5rem;
  border-radius: 50%;
  border: 2px solid black;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.personal-details .fa-user {
  font-size: 5rem;
}

/* Station.jsx */
.station-details {
  min-width: 300px;
  text-align: left;
  font-family: sans-serif;
  background-color: rgba(223, 182, 111, 0.59);
  padding: 2rem 1rem 0.2rem 1rem;
}
.station-details div {
  padding: 0.5rem;
  font-weight: 500;
  font-size: 1.2rem;
}

/* Features.jsx */
.features-main {
  padding: 1rem;
  background-color: rgba(223, 182, 111, 0.59);
  
}
.features-main button {
  margin: 1rem;
  padding: 10px;
  font-size: 19px;
  font-family: sans-serif;
  background-color: rgba(27, 25, 76, 0.9);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Footer */
.footer-main {
  background-color: #fbeabe8e;
}
.footer-inner {
  margin-top: 4.5rem;
  padding-bottom: 2.5rem;
  width: 500px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.other-footer-features {
  float: right;
  padding-right: 2rem;
}
.other-footer-features button {
  margin-left: 1.5rem;
  width: 80px;
  font-size: 19px;
  font-family: sans-serif;
  background-color: rgba(27, 25, 76, 0.9);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.fa-bell {
  color: red;
  padding: 0.5rem;
  padding-bottom: 1rem;
  font-size: 2rem;
  margin-left: 0.5rem;
}

/* Media Queries to make the page responsive */
@media (max-width: 700px) {
  .station-details {
    flex-direction: column;
  }
  .station-details div {
    margin-bottom: 1rem;
  }
}